@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: 3a3a3a;
}

/* Headings and logo */

h1, h2 {
    font-family: Playfair Display, sans-serif;
    letter-spacing: 1px;
    color: #0f0f0f;
}

#logo {
    float: left;
    font-size: 280%;
}