@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Noto+Sans:wght@200;300;400&family=Playfair+Display:ital,wght@0,400;1,500&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

.center {
    text-align: center;
}

/* Headings and logo */

header {
    background-color: #FEEEDF;
    overflow: auto;
}

h1, h2 {
    font-family: Playfair Display, serif;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
    color: #0f0f0f;
}

hr { 
    display: block;
    margin-top: 20px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px dotted #FEEEDF;
    width: 40%;
  } 

#logo {
    float: left;
    width: 100px;
    margin-left: 30px;
    padding: 10px 0;
}

/* Navigation links */

nav {
    font-family: Special Elite, sans-serif;
    text-align: right;
}
  
#menu {
    font-size: 130%;
    letter-spacing: 2px;
    margin-right: 30px;
    line-height: 75px;
}

#menu a {
    display: inline;
    color: #3a3a3a;
    text-decoration: none;
    color: inherit;
    margin: 0 10px;
}

#menu a:hover {
    border-bottom: 1px solid;
}

.navlabel {
  margin-right: 40px;
  font-size: 26px;
  display: none;
}

#toggle {
  display: none;
}

.active {
    border-bottom: 1px solid;
}


/* Hero image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    /* Change position to relative and cover-text to absolute to get it fixed in the section. */
    position: relative;
}

#hero-image, #hero-image-books, #hero-image-meetups, #hero-image-contact {
    height: 100%;
    width: 100%;
    background-color: #FEEEDF;
    
    /* Animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

#hero-image {
    background: url('https://res.cloudinary.com/djwxldbab/image/upload/v1652028592/bookclub/book-shelf-lights_x303ao.jpg') no-repeat center center;
    background-size: cover;
}

/* Text over hero image */

#cover-text, #cover-text h2 {
    color: #000000;
}

#cover-text {
    font-size: 130%;
    font-family: Playfair Display, sans-serif;
    letter-spacing: 2px;
    text-align: center;

    width: 100%;
    height: 120px;

    background-color: rgb(254,238,223, .7);
    bottom: 0px;

    position: absolute;
    display: flex;
    justify-content: center;
}

#cover-text h2 {
    margin: 20px;
    align-self: center;
}

/* Intro */

#intro-text {
    max-width: 100%;
	height: auto;
	padding: 50px 15%;
    line-height: 25px;
    text-align: justify;
}

.list{
    padding-left: 20px;
}

/* next reading */

#intro-book{
    background-color: #E6DBE0;
}

.title-line{
	padding: 50px 15% 10px;
    text-align: center;
}

#next-reading{
    max-width: 100%;
	height: auto;
	padding: 0 15%;
    text-align: justify;
    display: flex;
    align-items: center;
    overflow: auto;
}

#book-img{
    width: 20%;
}

#book-img > img {
    width: 75%;
    padding-bottom: 20px;
}

#book-description {
    padding: 20px 0;
    width: 80%;
    font-family: 'Amiri', serif;
    line-height: 30px;
    color: black;
}


/* Footer */

footer {
    height: 100px;
    background-color: #FEEEDF;
    margin-top:auto;
    display: flex;
    justify-content:center;
    align-items: center;
    clear: both;
}

.footer-container {
    padding: 10px 15%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 100%;
    font-size: 30px;
}

.footer-container a {
    color: #A27E8E;
    text-decoration: none;
}

.footer-container a:hover {
    font-size: 32px;
    text-shadow: 2px 2px 2px rgb(130, 94, 110);
}

/**** Books page ****/

/* Hero image */

#hero-image-books {
    background: url('https://res.cloudinary.com/djwxldbab/image/upload/v1652309964/bookclub/open-book_jbvujm.jpg') no-repeat center center;
    background-size: cover;
}

#booklist {
    text-decoration: none;
    color: #000000;
}

#booklist:hover {
    font-weight: bold;
    color: #A27E8E;
}

/* Books gallery */

.book-container {
    margin-left: 15%;
    margin-right: 15%;
}

.book-images {
    display: flex;
    flex-flow: row wrap;
}

.book-gallery {
    width: 16.6%;
    margin-bottom: 10px;
    position: relative;
}

.image-book {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FEEEDF;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.book-gallery:hover .overlay-img {
    height: 100%;
}

.text-over-img {
    color: black;
    font-size: 1.2vw;
    line-height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Amiri', serif;
}

.title-space {
    padding-top: 20px;
}

.rating {
    font-size: 1vw;
    letter-spacing: -5px;
}

.month {
    font-size: 0.9vw;
    letter-spacing: normal;
}

/**** Meetups page ****/
/* Hero image */
#hero-image-meetups {
    background: url('https://res.cloudinary.com/djwxldbab/image/upload/v1652564340/bookclub/notebook-with-coffee-books-and-rain_zsijzm.jpg') no-repeat center center;
    background-size: cover;
}

.col-2 {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
}

.meet-icon {
    font-size: 30px;
    color: #825E6E;
}

.col-2 div {
    text-align: center;
    width: 45%;
}

/* Meeting days and times */

.meetups{
    display: flex;
    flex-flow: row wrap;
}

.meetups h2 {
    font-family: Playfair Display, serif;
    font-weight: 400;
    font-style: normal;
}

.lifeofpi, .goodomens {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25%;
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    background-color: #DDD0D6;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

.lifeofpi div, .goodomens div {
    padding: 30px 10px;
}

#after-meeting {
    text-align: center;
    padding: 10%;
    background-image: url('https://res.cloudinary.com/djwxldbab/image/upload/v1652632686/bookclub/books-meetup-bakground_b2ygsr.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #EEE7EA;
}

#after-meeting p {
    font-size: 24px;
    font-family: Playfair Display, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 50px;
}

/**** Contact page ****/
/* Hero image */

#hero-image-contact {
    background: url('https://res.cloudinary.com/djwxldbab/image/upload/v1652626308/bookclub/tea-books-hero_rkxfge.jpg') no-repeat center center;
    background-size: cover;
}

/* Reviews */

#reviews {
	padding: 50px 15%;
    line-height: 25px;
}

#reviews h2 {
    text-align: center;
    padding: 30px;
}

.review-left {
    float: left;
}

.review-right {
    float: right;
    text-align: right;
}

.review-left, .review-right {
    width: 75%;
    padding-bottom: 20px;
}

/* Form */

.joinus {
    clear: both;
    text-align: center;
    padding: 40px;
}

.contact {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.contact-form {
    background-color: rgba(238, 231, 234, 0.6);
    max-width: 400px;
    left: 10%;
    padding: 30px;
}

.text-input {
    background: transparent;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #E6DBE0;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #825E6E;
}

#comments {
    height: 50px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #A27E8E;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #825E6E;
    border: 1px solid #825E6E;
}

/* Thank you page */

.thankyou {
    padding: 20px;
}

.thankyou p {
    text-align: center;
    line-height: 35px;
}

#share-social {
    text-align: center;
    font-size: 40px;
    color: #A27E8E;
    padding: 20px;
}

#share-social a {
    color: #A27E8E;
    text-decoration: none;
    padding: 20px;
}

#share-social a:hover {
    color: #825E6E;
}

/* Media queries */

@media screen and (max-width: 1250px) {
    /* Home */
    .book-gallery {
        width: 20%;
    }

    /* Books */
    .text-over-img {
        font-size: 1.4vw;
    }

    .month, .text-over-img i {
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 992px) {
    /* Home */
    #book-img > img {
        width: 100%;
    }

    #book-description {
        padding-left: 20px;
    }

    .review-left, .review-right {
        width: 100%;
        padding-bottom: 20px;
        text-align: justify;
    }

    /* Books */
    .book-gallery {
        width: 25%;
    }

    .text-over-img {
        font-size: 1.7vw;
    }

    .month, .text-over-img i {
        font-size: 1.5vw;
    }

    /* Meetups */
    #cover-text {
        height: auto;
    }
}

@media screen and (max-width: 825px) {
    /* Home */
    #next-reading {
        flex-direction: column;
    }

    #book-img {
        width: 35%;
    }

    #book-img > img {
        padding-bottom: 0;
    }

    /* Books */
    #cover-text {
        height: auto;
    }

    .book-gallery {
        width: 30%;
    }

    .text-over-img {
        font-size: 2vw;
    }

    .month, .text-over-img i {
        font-size: 1.7vw;
    }

    /* Meetups */
    .meetups h2 {
        font-size: 2.6vw;
    }

    .meetups h3 {
        font-size: 2vw;
    }

    #after-meeting p {
        line-height: 34px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 690px) {
    /* Home */
    #cover-text {
        height: auto;
    }

    .book-gallery {
        width: 50%;
    }

    /* Books */
    .text-over-img {
        font-size: 2.8vw;
        line-height: 24px;
    }

    .month, .text-over-img i {
        font-size: 1.7vw;
    }

    /* Meetups */
    .lifeofpi, .goodomens {
        width: 50%;
    }

    .meetups h2 {
        font-size: 3vw;
    }

    .meetups h3 {
        font-size: 2.5vw;
    }

    /* Contact */
    #hero-image-contact {
        background-position: right;
    }
}

@media screen and (max-width: 550px) {
    /* Navigation */
    .navlabel {
        display: block;
        cursor: pointer;
        width: 26px;
        float: right;
        margin: 30px;
    }
    
    #menu {
        text-align: center;
        display: none;
        clear: both;
        margin: 0;
        line-height: 55px;
    }
    
    #menu a {
        clear: right;
        display: block;
    }
    
    #menu a:hover {
        font-weight: bold;    
        border-bottom: none;
    }
    
    #toggle:checked + #menu {
        display: block;
    }
    
    .active {
        font-weight: bold;
        border-bottom: none;
    }

    /* Home */
    #cover-text {
        height: auto;
    }

    /* Books */
    .book-gallery {
        width: 50%;
    }

    .text-over-img {
        font-size: 2.8vw;
        line-height: 18px;
    }

    .month, .text-over-img i {
        font-size: 2.4vw;
    }

    /* Meetups */
    .col-2 {
        flex-direction: column;
    }

    .col-2 div {
        text-align: justify;
        width: 100%;
        padding-bottom: 20px;
    }

    .col-2 i {
        float: left;
        padding-right: 10px;
    }

    .meetups h2 {
        font-size: 4vw;
    }

    .meetups h3 {
        font-size: 3.2vw;
    }
}