@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Amiri&family=Playfair+Display:ital,wght@0,400;1,500&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    color: #3a3a3a;
}

/* Headings and logo */

header {
    background-color: #FEEEDF;
    overflow: auto;
}

h1, h2 {
    font-family: Playfair Display, serif;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
    color: #0f0f0f;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation links */

#menu {
    font-family: Special Elite, sans-serif;
    text-align: right;
    font-size: 130%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu > li {
    display: inline;
    margin: 1%;
    padding: 1%;
    color: #3a3a3a;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

/* Hero image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    /* Change position to relative and cover-text to absolute to get it fixed in the section. */
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('https://res.cloudinary.com/djwxldbab/image/upload/v1652028592/bookclub/book-shelf-lights_x303ao.jpg') no-repeat center center;

    /* Animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

/* Text over hero image */

#cover-text, #cover-text h2 {
    color: #000000;
}

#cover-text {
    font-size: 130%;
    font-family: Playfair Display, sans-serif;
    letter-spacing: 2px;
    text-align: center;

    width: 100%;
    height: 100px;

    padding-top: 40px;
    padding-left: 20px;

    background-color: rgb(254,238,223, .7);
    bottom: 0px;

    position: absolute;
}

/* Intro */

#intro-text {
    max-width: 100%;
	height: auto;
	padding: 50px 15%;
    font-size: larger;
    line-height: 25px;
    text-align: justify;
}

.list{
    padding-left: 20px;
}

/* next reading */

#intro-book{
    background-color: #FEEEDF;
}

#title-line{
	padding: 20px 15%;
}

#next-reading{
    max-width: 100%;
	height: auto;
	padding: 0 15%;
    text-align: justify;
    display: flex;
    align-items: center;
    overflow: auto;
}

#book-img{
    width: 20%;
    padding-right: 20px;
}

#book-img > img {
    width: 100%;
}

#book-description{
    padding: 20px 0;
    width: 80%;
    font-family: 'Amiri', serif;
    line-height: 25px;
    color: black;
}


/* Footer */

footer{
    background-color: #b5ecec;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content: space-around;
}

#footer-menu {
    display: flex;
    text-decoration: none;
    flex-flow: column wrap;
    align-items: left;
}