@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Noto+Sans:wght@200;300;400&family=Playfair+Display:ital,wght@0,400;1,500&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

.center {
    text-align: center;
}

/* Headings and logo */

header {
    background-color: #FEEEDF;
    overflow: auto;
}

h1, h2 {
    font-family: Playfair Display, serif;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
    color: #0f0f0f;
}

hr { 
    display: block;
    margin-top: 20px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px dotted #FEEEDF;
    width: 40%;
  } 

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation links */

#menu {
    font-family: Special Elite, sans-serif;
    text-align: right;
    font-size: 130%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu > li {
    display: inline;
    margin: 1%;
    padding: 1%;
    color: #3a3a3a;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

/* Hero image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    /* Change position to relative and cover-text to absolute to get it fixed in the section. */
    position: relative;
}

#hero-image, #hero-image-books, #hero-image-meetups, #hero-image-contact {
    height: 100%;
    width: 100%;
    
    /* Animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

#hero-image {
    background: url('https://res.cloudinary.com/djwxldbab/image/upload/v1652028592/bookclub/book-shelf-lights_x303ao.jpg') no-repeat center center;
    background-size: cover;
}

/* Text over hero image */

#cover-text, #cover-text h2 {
    color: #000000;
}

#cover-text {
    font-size: 130%;
    font-family: Playfair Display, sans-serif;
    letter-spacing: 2px;
    text-align: center;

    width: 100%;
    height: 120px;

    background-color: rgb(254,238,223, .7);
    bottom: 0px;

    position: absolute;
    display: flex;
    justify-content: center;
}

#cover-text h2 {
    margin: 20px;
    align-self: center;
}

/* Intro */

#intro-text {
    max-width: 100%;
	height: auto;
	padding: 50px 15%;
    line-height: 25px;
    text-align: justify;
}

.list{
    padding-left: 20px;
}

/* next reading */

#intro-book{
    background-color: #FEEEDF;
}

.title-line{
	padding: 20px 15%;
    text-align: center;
}

#next-reading{
    max-width: 100%;
	height: auto;
	padding: 0 15%;
    text-align: justify;
    display: flex;
    align-items: center;
    overflow: auto;
}

#book-img{
    width: 20%;
    padding-right: 20px;
}

#book-img > img {
    width: 100%;
}

#book-description {
    padding: 20px 0;
    width: 80%;
    font-family: 'Amiri', serif;
    line-height: 25px;
    color: black;
}


/* Footer */

footer {
    background-color: #FEEEDF;
    margin-top:auto;
    display: flex;
    justify-content:center;
    clear: both;
}

.footer-container {
    padding: 10px 15%;
    flex-direction: row;
    justify-content:center;
    gap: 10%;
    font-size: 30px;
}

.footer-container a {
    color: #825E6E;
    text-decoration: none;
}

.footer-container a:hover {
    font-size: 32px;
    color: #A27E8E;
}

/**** Books page ****/

/* Hero image */

#hero-image-books {
    background: url('https://res.cloudinary.com/djwxldbab/image/upload/v1652309964/bookclub/open-book_jbvujm.jpg') no-repeat center center;
    background-size: cover;
}

/* Books gallery */

.book-container {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20%;
}

.book-gallery {
    position: relative;
    width: 16.6%;
    float: left;
}

.image-book {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FEEEDF;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.book-gallery:hover .overlay-img {
    height: 100%;
}

.text-over-img {
    color: black;
    font-size: 1.2vw;
    line-height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Amiri', serif;
}

.title-space {
    padding-top: 20px;
}

.rating {
    font-size: 1vw;
    letter-spacing: -5px;
}

.month {
    font-size: 0.9vw;
    letter-spacing: normal;
}

/**** Meetups page ****/
/* Hero image */
#hero-image-meetups {
    background: url('https://res.cloudinary.com/djwxldbab/image/upload/v1652564340/bookclub/notebook-with-coffee-books-and-rain_zsijzm.jpg') no-repeat center center;
    background-size: cover;
}

.col-2 {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
}

.meet-icon {
    font-size: 30px;
    color: #825E6E;
}

.col-2 div {
    text-align: center;
    width: 45%;
}

/* Meeting days and times */

.meetups{
    display: flex;
    flex-flow: row wrap;
}

.meetups h2 {
    font-family: Playfair Display, serif;
    font-weight: 400;
    font-style: normal;
}

.lifeofpi, .goodomens {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25%;
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    background-color: #DDD0D6;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

.lifeofpi div, .goodomens div {
    padding: 30px 10px;
}

#after-meeting {
    text-align: center;
    padding: 10%;
    background-image: url('https://res.cloudinary.com/djwxldbab/image/upload/v1652632686/bookclub/books-meetup-bakground_b2ygsr.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#after-meeting p {
    font-size: 24px;
    font-family: Playfair Display, serif;
    font-weight: 400;
    font-style: normal;
    line-height: 50px;
}

/**** Contact page ****/
/* Hero image */

#hero-image-contact {
    background: url('https://res.cloudinary.com/djwxldbab/image/upload/v1652626308/bookclub/tea-books-hero_rkxfge.jpg') no-repeat center center;
    background-size: cover;
}